
#nodebox {
  -webkit-box-shadow: inset -34px -34px 70px -71px rgba(209, 209, 209, 0.6);
  -moz-box-shadow: inset -34px -34px 70px -71px rgba(209, 209, 209, 0.6);
  box-shadow: inset -34px -34px 70px -71px rgba(209, 209, 209, 0.6);
  border-right: 1px solid rgba(24, 28, 33, 0.06);
}

#nodebox:hover {
  -webkit-box-shadow: inset -34px -34px 70px -80px rgba(150, 150, 150, 1);
  -moz-box-shadow: inset -34px -34px 70px -80px rgba(150, 150, 150, 1);
  box-shadow: inset -34px -34px 70px -80px rgba(150, 150, 150, 1);
}

.center-spinner {
  text-align: center;
  margin: auto;
  margin-top: 15%;
}

.pagination {
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
}
.search {
  height: 40px;
  font-size: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}












