.card .card-header .btn-header-link.collapsed:after {
    content: "\25BC";
}

.card .card-header .btn-header-link:after {
    content: "\25B2";
    font-family: 'narrowin';
    font-weight: 900;
    float: right;
}
